.card, .modal-content, .modal-body, .color-body {
  background-color: #93B1A6 !important;
  border: none !important;
  box-shadow: none !important;
}

.card-header, .modal-header, .color-header{
  background-color: #008170;
  color: white;
}
td .btn {
  transition: all 0.2s ease;
}
td .btn-outline-primary:hover {
  background-color: #0D6EFD26;
}
td .btn-outline-danger:hover {
  background-color: #DC354526;
}

tr { /* header row*/
  --bs-table-accent-bg: #008170CB !important;
}

tr:nth-of-type(odd) {/* odd rows */
  --bs-table-striped-bg: #93B1A6 !important;
}

tr:nth-of-type(even) {/* even rows */
  --bs-table-accent-bg: #008170  !important;
}
