.card, .modal-content, .modal-body, .color-body {
  background-color: var(--main-secondary-color) !important;
  border: none !important;
  box-shadow: none !important;
}

.card-header, .modal-header, .color-header{
  background-color: var(--main-active-color);
  color: var(--color-white);
}

td .btn {
  transition: all 0.2s ease;
}

tr { /* header row*/
  --bs-table-accent-bg: var(--main-active-color) !important;
}

.table-hover tr { /* hover */
  --bs-table-hover-bg: var(--table-higlite) !important;
}

tr:nth-of-type(odd) {/* odd rows */
  --bs-table-striped-bg: var(--main-secondary-color) !important;
}


tr:nth-of-type(even) {/* even rows */
  --bs-table-accent-bg: var(--main-active-color)  !important;
}
