<div class="row mt-2">
  <div class="col-8">
    @for (localization of localizations; track localization.id) {
      <button type="button" class="btn btn-dark m-1" (click)="selectLocalization(localization);">{{localization.name}}</button>
    }
  </div>
  <div class="col-4">
    <div class="float-end">
      @if (selectedLocalization.id) {
        <button type="button" class="btn btn-warning me-1" data-bs-toggle="modal"  [attr.data-bs-target]="'#locationModal' + selectedLocalization.id">{{'collections.localizations.editLocalization' | translate}}</button>
      }
      <button type="button" class="btn btn-warning" data-bs-toggle="modal"  data-bs-target="#locationModal">{{'collections.localizations.addLocalization' | translate}}</button>

    </div>
  </div>
</div>


<app-localization-change-component
  [localization]="selectedLocalization"
  [modalId]="selectedLocalization.id"
  (save)="onUpdateOrCreate($event)"
  (remove)="onRemoveLocalization($event)">
</app-localization-change-component>

<app-localization-change-component>
</app-localization-change-component>
