<nav class="navbar navbar-custom navbar-expand-lg ">
  <div class="container-fluid ">
    <button
      type="button"
      class="btn navbar-brand"
      (click)="router.navigate(['/'])">
        {{'app.title.short' | translate}}
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        @if (authService.isAuthenticated) {
            <button class="btn nav-item" routerLink="/collection">{{ 'menu.collection' | translate }}</button>
        }
      </ul>

      @if (authService.isAuthenticated) {
        <button type="button" class="btn btn-outline-info me-1" (click)="router.navigate(['/profile'])"><i class="bi bi-person-circle"></i> {{ 'menu.user.profile' | translate }}</button>
        <button type="button" class="btn btn-outline-danger me-1" (click)="logout()">{{ 'menu.user.logout' | translate }}</button>
      } @else {
        <button type="button" class="btn btn-add me-1" (click)="router.navigate(['/login'])">{{ 'menu.user.login' | translate }}</button>
        <button type="button" class="btn btn-outline-warning me-1" (click)="router.navigate(['/register'])">{{ 'menu.user.register' | translate }}</button>
      }

      <div
        ngbDropdown
        class="btn-group"
        display="dynamic"
        placement="bottom-end">
          <button
            type="button"
            class="btn  btn-settings dropdown-toggle me-1"
            id="languageDropdown"
            ngbDropdownToggle>
            <i class="bi bi-globe"></i>
          </button>

          <div
            ngbDropdownMenu
            aria-labelledby="languageDropdown">
            <button
              ngbDropdownItem
              (click)="changeLanguage('pl')">
                <span class="fi fi-pl"></span> Polski
            </button>
            <button
              ngbDropdownItem
              (click)="changeLanguage('en')">
                <span class="fi fi-us"></span> English
            </button>
          </div>
      </div>
    </div>
  </div>
</nav>
