.avatarPlant {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  padding-left: 10px;
}

.active {
  background: #008170 !important;
  border-radius: 0.5rem !important;
}
