<div class="card">
  <div class="card-body">
  <div class="row g-1">
    <div class="col-8">
      <div class="row">
        <h2 class="card-title">{{ plant.name }}</h2>
      </div>
      <div class="row">
        <div class="col-4">{{"collections.plants.details.species" | translate}}</div>
        <div class="col-5">
          <p class="card-text">{{ plant.species }}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-4">{{"collections.plants.details.purchaseDate" | translate}}</div>
        <div class="col-5">
          <p class="card-text">{{ plant.purchaseDate }}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-4">{{"collections.plants.details.purchaseLocalization" | translate}}</div>
        <div class="col-5">
          <p class="card-text">{{ plant.purchaseLocalization }}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-4">{{"collections.plants.details.fertilizationDate" | translate}}</div>
        <div class="col-5">
          <p class="card-text">{{ plant.fertilizationDate }}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-4">{{"collections.plants.details.alive" | translate}}</div>
        <div class="col-5">
          <p class="card-text">{{ `collections.plants.details.${plant.alive}` | translate  }}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-4">{{"collections.plants.details.shared" | translate}}</div>
        <div class="col-5">
          <p class="card-text">{{ `collections.plants.details.${plant.shared}` | translate  }}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-4">{{"collections.plants.details.wateringDate" | translate }}</div>
        <div class="col-5">
          @if (plant.wateringDate) {
            <p class="card-text">{{ `collections.plants.details.wateringDateValues.${plant.wateringDate}` | translate}}</p>
          }
        </div>
      </div>

      <div class="row">
        <div class="col-4">{{ "collections.plants.details.deathReason" | translate}}</div>
        <div class="col-5">
          @if ( plant.deathReason) {
            <p class="card-text">{{"collections.plants.details.deathReason" | translate }}</p>
          }
        </div>
      </div>

      <div class="row">
        <div class="col-4">{{"collections.plants.details.plantCondition" | translate}}</div>
        <div class="col-5">
          @if ( plant.plantCondition) {
            <p class="card-text">{{`collections.plants.details.plantConditionsValues.${plant.plantCondition}` | translate }}</p>
          }
        </div>
      </div>

      <div class="row">
        <div class="col-4">{{"collections.plants.details.plantSoil" | translate}}</div>
        <div class="col-5">
          @if ( plant.plantSoil) {
            <p class="card-text">{{`collections.plants.details.plantSoilValues.${plant.plantSoil}` | translate }}</p>
          }
        </div>
      </div>

      <div class="row">
        <div class="col-4">{{"collections.plants.details.plantWatering" | translate}}</div>
        <div class="col-5">
          @if ( plant.plantWatering) {
            <p class="card-text">{{`collections.plants.details.plantWateringValues.${plant.plantWatering}` | translate }}</p>
          }
        </div>
      </div>

      <div class="row">
        <div class="col-4">{{"collections.plants.details.plantBerth" | translate}}</div>
        <div class="col-5">
          @if ( plant.plantBerth) {
            <p class="card-text">{{`collections.plants.details.plantBerthValues.${plant.plantBerth}` | translate }}</p>
          }
        </div>
      </div>

      <div class="row">
        <div class="col-4">{{"collections.plants.details.plantToxicity" | translate}}</div>
        <div class="col-5">
          @if ( plant.plantToxicity) {
            <p class="card-text">{{`collections.plants.details.plantToxicityValues.${plant.plantToxicity}` | translate }}</p>
          }
        </div>
      </div>

      <div class="row">
        <div class="col-4">{{"collections.plants.details.plantLifeExpectancy" | translate}}</div>
        <div class="col-5">
          @if ( plant.plantLifeExpectancy) {
            <p class="card-text">{{`collections.plants.details.plantLifeExpectancyValues.${plant.plantLifeExpectancy}` | translate }}</p>
          }
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="col-4 text-center">
        <div class="position-relative d-inline-block">
          <button
            type="button"
            class="btn btn-sm btn-primary position-absolute top-0 end-0 m-1"
            data-bs-toggle="modal" data-bs-target="#uploadImageModal"
          >
            {{'collections.plants.details.avatarModal.edit' | translate }}
          </button>
          <img
            [src]="`${url}/plant.avatar`"
            class="img-fluid rounded-circle border"
            alt="{{'' | translate }}"
            style="width: 150px; height: 150px; object-fit: cover;"
          />
        </div>
      </div>
    </div>
   </div>
    <div class="row">
     <app-notes-component></app-notes-component>
    </div>
    <div class="row">
      <app-photo-gallery-component></app-photo-gallery-component>
    </div>
    <div class="row">
      <app-updates-component></app-updates-component>
    </div>
  </div>
</div>

<app-upload-image-dialog-component
  (imageUploaded)="onPlantAvatarChange($event)"
  [circled]="true"
  [modalTitle]="'profile.settings.editAvatarTitle' | translate">
</app-upload-image-dialog-component>
