@import "bootstrap/dist/css/bootstrap.min.css";

.body {
  background-color: #183D3D;
}

.btn-settings {
  background-color: green !important;
  outline: green;
}

.btn-delete {
  background-color: #112022 !important;
  color: white !important;
  outline: white;
}

.btn-add {
  background-color: #BD18DAFF !important;
  outline: #BD18DAFF;
  color: white !important;
}

.btn-cancel {
  background-color: #d6c1e2 !important;
  outline: #d6c1e2;
}

.btn-edit {
  color: #a0dc7f !important;
  outline: #a0dc7f;
  border-radius: 50%;
}

.btn-edit:hover {
  background-color: #a0dc7f26 !important;
  border-radius: 50%;
}

.btn-outline-add {
  color: white !important;
  border: 1px solid #BD18DA !important;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
}

.btn-outline-add:hover {
  color: #fff;
  background-color: #BD18DA;
  border-color: #BD18DA;
}

.btn-outline-add:focus,
.btn-outline-add:active,
.btn-outline-add.active {
  color: #fff !important;
  background-color: #BD18DA !important;
  border-color: #BD18DA !important;
  box-shadow: 0 0 0 0.25rem #BD18DA40;
}
