@import "bootstrap/dist/css/bootstrap.min.css";

.body {
  background-color: #183D3D;
}

.btn-settings {
  background-color: green !important;
  outline: green;
}

.btn-delete {
  background-color: #112022 !important;
  color: white !important;
  outline: white;
}

.btn-add {
  background-color: #934dbc !important;
  outline: #934dbc;
}

.btn-cancel {
  background-color: #d6c1e2 !important;
  outline: #d6c1e2;
}

.btn-edit {
  color: #a0dc7f !important;
  outline: #a0dc7f;
  border-radius: 50%;
}

.btn-edit:hover {
  background-color: #a0dc7f26 !important;
  border-radius: 50%;
}
